.home{
    /* display: flex;
    flex-wrap: wrap; */

    max-width: 1200px;
    margin: 30px auto;
    padding: 0 10px;
    width: 100%; 
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: auto; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 1em;
}